.container{
    position: sticky; 
    top: 0; 
    flex-direction: column; 
    flex-shrink: 0; 
    justify-content: space-between; 
    height: 100vh;
    background-color: #9597a3  ;
    width: 18rem;
    padding-top: 1.5rem;
}

.container .contain{
    padding: 1rem; 
}

.title{
    font-weight:500; 
    /* color: 24px; */
    font-size: larger;
    text-align: center;
    color: white;
}

.topic{
    margin-top: 1rem; 
    margin-top: 1rem;
    color: white;
}

